@use '../abstracts/mixins';

.home {
    background-image: url("../../img/sunset.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    @include mixins.flex-center;
    flex-direction: column;
    gap: 20px;
    height: 40%;
    color: #FFFFFF;
    padding: 130px;
    text-align: center;
}
