@use '../abstracts/mixins';

.home {
    background-image: url("../../img/sunset.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;

    @include mixins.flex-center;

    flex-direction: column;
    gap: 1.25rem;

    height: 40%;

    color: #FFFFFF;

    padding: 8.125rem;

    text-align: center;
}