@use './abstracts/variables';
@use './abstracts/mixins';
@use './abstracts/normalize';
@use './layout/header';
@use './layout/home';
@use './layout/glance';
@use './layout/atomic';

html {
    scroll-behavior: smooth;
}

@media (max-width: 1344px) {
    .atomic {
        gap: 1.25rem;
    }
}

@media (max-width: 426px) {
    .header__center {
        display: none;
    }
}

@media (max-width: 382px) {
    .achievement {
        width: auto !important;
    }

    .home {
        padding: 3.5rem;
        &__text {
            display: none;
        }
    }
}